---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reloader
spec:
  chart:
    spec:
      chart: reloader
      version: 2.2.6
      sourceRef:
        kind: HelmRepository
        name: stakater
  interval: 15m
  install:
    crds: CreateReplace
    remediation:
      retries: 5
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
  uninstall:
    keepHistory: false
  # https://artifacthub.io/packages/helm/stakater/reloader?modal=values
  values:
    fullnameOverride: reloader
    image:
      repository: ghcr.io/stakater/reloader
      tag: v1.4.11@sha256:a644702afcdd1f21c8b9cd19dbc256f346b53c4564398a95c4e3ad92f578ed1a
