---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reloader
spec:
  chart:
    spec:
      chart: reloader
      version: 2.2.3
      sourceRef:
        kind: HelmRepository
        name: stakater-charts
        namespace: flux-system
  interval: 15m
  install:
    crds: CreateReplace
    remediation:
      retries: 5
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
  uninstall:
    keepHistory: false
  values:
    fullnameOverride: reloader
    image:
      repository: ghcr.io/stakater/reloader
      tag: v1.4.10@sha256:e2d900b53e5ebd06241b9d82fd0a936f4df1e188645b0a81c9c202806b0654c4
