---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reloader
spec:
  chart:
    spec:
      chart: reloader
      version: 2.2.3
      sourceRef:
        kind: HelmRepository
        name: stakater-charts
        namespace: flux-system
  interval: 15m
  install:
    crds: CreateReplace
    remediation:
      retries: 5
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
  uninstall:
    keepHistory: false
  values:
    fullnameOverride: reloader
    image:
      repository: ghcr.io/stakater/reloader
      tag: v1.4.9@sha256:d4672d0694da032622473c3a2b8bd40c119eb802e31d7d2418974e40d2ad1902
