---
name: docker-build-push-tag

on:
  push:
    tags:
      - "v*.*.*"
      - "*.*.*"

jobs:
  docker-build-push:
    uses: techtales-io/github-workflows/.github/workflows/docker-push.yaml@9a54effecbdd565da56e5e6077e12bd92b605f21 # v0.3.1
    permissions:
      contents: read
      id-token: write
      packages: write
    with:
      runner: ubuntu-latest
      tags: |
        type=ref,event=tag,priority=300
        ${{ github.sha }}
        type=raw, value=rolling
