---
name: docker-build

on:
  pull_request:
    types:
      - opened
      - synchronize
    paths-ignore:
      - .github/**

jobs:
  docker-build:
    permissions:
      contents: read
      packages: read
    uses: strg-at/github-workflows/.github/workflows/docker-build.yaml@a926e99cdc1ed63c432b0c5230ad6c6f1189127a # v2.1.3
    with:
      runner: '["ubuntu-latest"]'
    # secrets:
    #   docker-username: ${{ secrets.DOCKER_USERNAME }}
    #   docker-token: ${{ secrets.DOCKER_TOKEN }}
