---
name: docker-build

on:
  pull_request:
    types:
      - opened
      - synchronize
    paths-ignore:
      - .github/**

jobs:
  docker-build:
    permissions:
      contents: read
      packages: read
    uses: strg-at/github-workflows/.github/workflows/docker-build.yaml@40e5e035df5e075110b80d1a4fddada304604243 # v2.1.2
    with:
      runner: '["ubuntu-latest"]'
    # secrets:
    #   docker-username: ${{ secrets.DOCKER_USERNAME }}
    #   docker-token: ${{ secrets.DOCKER_TOKEN }}
