# ---
# name: flux diff

# on:
#   pull_request:
#     branches:
#       - main
#     paths:
#       - kubernetes/**.yaml

# jobs:
#   flux-local:
#     permissions:
#       contents: read
#       pull-requests: write
#     uses: strg-at/github-workflows/.github/workflows/flux-diff.yaml@feature/INPRO-2783-rework-flux-diff
#     with:
#       runner: ubuntu-latest
#       path: ./kubernetes
#     secrets:
#       github-app-id: ${{ secrets.JAZZLYN_BOT_GITHUB_APP_ID }}
#       github-app-key: ${{ secrets.JAZZLYN_BOT_GITHUB_PEM }}
---
name: flux local

on:
  pull_request:
    branches:
      - main
    paths:
      - kubernetes/**.yaml
  workflow_call:
    inputs:
      runner:
        description: runner name
        type: string
        required: false
      path:
        description: path to flux
        required: true
        type: string
      resources:
        description: type of resources to diff
        required: false
        type: string
        default: '["helmrelease", "kustomization"]'
      sources:
        description: starting point of flux source path (f.e. flux-devenv=./oci)
        required: false
        type: string
      cluster-repo-owner:
        description: production cluster repo owner
        required: false
        type: string
      cluster-repo:
        description: production cluster repo name
        required: false
        type: string
      timezone:
        description: timezone for timestamp
        required: false
        type: string
        default: Europe/Vienna

    # secrets:
    #   github-app-id:
    #     description: github app id
    #     required: false
    #   github-app-key:
    #     description: github app private key
    #     required: false

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ inputs.runner || 'ubuntu-latest' }}
    permissions:
      contents: read
    steps:
      # https://github.com/marketplace/actions/create-github-app-token
      - name: generate token
        id: generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.JAZZLYN_BOT_GITHUB_APP_ID }}
          private-key: ${{ secrets.JAZZLYN_BOT_GITHUB_PEM }}
          owner: ${{ github.repository_owner}}

      # https://github.com/marketplace/actions/checkout
      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ steps.generate-token.outputs.token }}

      # https://github.com/allenporter/flux-local
      - name: run flux local test
        uses: docker://ghcr.io/allenporter/flux-local:v8.1.0@sha256:37c3c4309a351830b04f93c323adfcb0e28c368001818cd819cbce3e08828261
        with:
          args: >-
            test
            --all-namespaces
            --path /github/workspace/${{ inputs.path || 'kubernetes' }}/flux
            ${{ inputs.sources && format('--sources {0}', inputs.sources) || '' }}
            --enable-helm
            --verbose

  diff:
    runs-on: ${{ inputs.runner || 'ubuntu-latest' }}
    permissions:
      contents: read
      pull-requests: write
    strategy:
      matrix:
        resource: ${{ fromJSON(inputs.resources || '["helmrelease", "kustomization"]') }}
      fail-fast: false
    services:
      registry:
        image: registry:3.0.0@sha256:cd92709b4191c5779cd7215ccd695db6c54652e7a62843197e367427efb84d0e
        ports:
          - 5000:5000
    steps:
      # https://github.com/marketplace/actions/create-github-app-token
      - name: generate token
        id: generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.JAZZLYN_BOT_GITHUB_APP_ID }}
          private-key: ${{ secrets.JAZZLYN_BOT_GITHUB_PEM }}
          owner: ${{ github.repository_owner}}

      # https://github.com/marketplace/actions/sticky-pull-request-comment
      - name: clear comment
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2.9.4
        with:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
          header: ${{ github.event.pull_request.number }}/${{ matrix.resource }}
          message: |
            ### ${{ matrix.resource }} - generating diff...

      # https://github.com/marketplace/actions/checkout
      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ steps.generate-token.outputs.token }}
          path: pull

      # https://github.com/marketplace/actions/checkout
      - name: checkout cluster repo
        if: ${{ inputs.cluster-repo }}
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ steps.generate-token.outputs.token }}
          repository: ${{ inputs.cluster-repo-owner }}/${{ inputs.cluster-repo }}
          path: pull/${{ inputs.path }}/${{ inputs.cluster-repo }}

      # https://github.com/marketplace/actions/checkout
      - name: checkout default branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ steps.generate-token.outputs.token }}
          ref: ${{ github.event.repository.default_branch }}
          path: default

      # https://github.com/marketplace/actions/checkout
      - name: checkout cluster default branch
        if: ${{ inputs.cluster-repo }}
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ steps.generate-token.outputs.token }}
          repository: ${{ inputs.cluster-repo-owner }}/${{ inputs.cluster-repo }}
          path: default/${{ inputs.path }}/${{ inputs.cluster-repo }}

      # https://github.com/alexellis/arkade-get
      - name: install flux
        if: ${{ inputs.cluster-repo }}
        uses: alexellis/arkade-get@72e43d14ab4274c799c047c08073c620030106e2
        with:
          print-summary: false
          flux: latest

      - name: push artifact to local registry
        if: ${{ inputs.cluster-repo }}
        run: >-
          flux push artifact oci://localhost:5000/${{ github.event.repository.name }}:local
          --path="pull/${{ inputs.path }}"
          --source="local"
          --revision="latest"

      # https://github.com/allenporter/flux-local
      - name: run flux-local diff
        uses: docker://ghcr.io/allenporter/flux-local:v8.1.0@sha256:37c3c4309a351830b04f93c323adfcb0e28c368001818cd819cbce3e08828261
        with:
          args: >-
            diff ${{ matrix.resource }}
            --all-namespaces
            --path /github/workspace/pull/${{ inputs.path || 'kubernetes' }}/flux
            --path-orig /github/workspace/default/${{ inputs.path || 'kubernetes' }}/flux
            ${{ inputs.sources && format('--sources {0}', inputs.sources) || '' }}
            --strip-attrs "helm.sh/chart,checksum/config,app.kubernetes.io/version,chart"
            --unified 6
            --limit-bytes 9940
            --output-file diff.patch

      - name: get current time
        id: current-time
        run: echo "time=$(TZ='${{ inputs.timezone || 'Europe/Vienna' }}' date +'%Y-%m-%d %H:%M:%S %Z')" >> "$GITHUB_OUTPUT"

      - name: generate diff
        id: diff
        run: |
          if [ -f diff.patch ] && [ -s diff.patch ]; then
            {
              echo 'diff<<EOF'
              cat diff.patch
              echo 'EOF'
            } >> "$GITHUB_OUTPUT"
            {
              echo "### flux diff (${{ matrix.resource }})"
              echo "generated at: ${{ steps.current-time.outputs.time }}"
              echo '```diff'
              cat diff.patch
              echo '```'
            } >> "$GITHUB_STEP_SUMMARY"
          else
            {
              echo 'diff<<EOF'
              echo 'no changes found'
              echo 'EOF'
            } >> "$GITHUB_OUTPUT"
          fi

      # https://github.com/marketplace/actions/sticky-pull-request-comment
      - name: add comment
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2.9.4
        with:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
          header: ${{ github.event.pull_request.number }}/${{ matrix.resource }}
          message: |
            ### ${{ matrix.resource }} - ${{ steps.current-time.outputs.time }}
            ```diff
            ${{ steps.diff.outputs.diff }}
            ```

  success:
    if: ${{ !cancelled() }}
    needs: ["test", "diff"]
    runs-on: ${{ inputs.runner || 'ubuntu-latest' }}
    steps:
      - name: any jobs failed?
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1

      - name: all jobs passed or skipped?
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: echo "all jobs passed or skipped" && echo "${{ toJSON(needs.*.result) }}"
