---
name: get changed files

on:
  workflow_dispatch:
  # pull_request:
  #   types:
  #     - opened
  #     - synchronize
  #   paths:
  #     - "**/*"
  #     - "!.github/**"
  #     - "!**/README.md"
  #     - "!*"

jobs:
  get-changed-files:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      # https://github.com/marketplace/actions/checkout
      - name: checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      # https://github.com/marketplace/actions/changed-files
      - name: get all changed files
        id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          files: |
            **/*
            !.github/**
            !.taskfiles/**
          matrix: true
          dir_names: true
          dir_names_exclude_current_dir: true
          dir_names_max_depth: 1

      - name: list all changed files
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          for file in "${{ steps.changed-files.outputs.all_changed_files }}"; do
            echo "changed file: $file"
          done
