---
name: get changed files

on:
  workflow_dispatch:
  # pull_request:
  #   types:
  #     - opened
  #     - synchronize
  #   paths:
  #     - "**/*"
  #     - "!.github/**"
  #     - "!**/README.md"
  #     - "!*"

jobs:
  get-changed-files:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      # https://github.com/marketplace/actions/checkout
      - name: checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # https://github.com/marketplace/actions/changed-files
      - name: get all changed files
        id: changed-files
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        with:
          files: |
            **/*
            !.github/**
            !.taskfiles/**
          matrix: true
          dir_names: true
          dir_names_exclude_current_dir: true
          dir_names_max_depth: 1

      - name: list all changed files
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          for file in "${{ steps.changed-files.outputs.all_changed_files }}"; do
            echo "changed file: $file"
          done
