---
name: changed files

on:
  workflow_dispatch:
#   pull_request:
#     types:
#       - opened
#       - synchronize
#     paths:
#       - "**/*"
#       - "!.github/**"
#       - "!**/README.md"
#       - "!*"

# jobs:
#   changed-files:
#     permissions:
#       pull-requests: read
#     uses: techtales-io/github-workflows/.github/workflows/changed-files.yaml@feature/changed-files
#     with:
#       runner: ubuntu-latest
#       files: |
#         **/*
#         !.github/**
#         !.taskfiles/**
#       matrix: true
#       dir_names: true
#       dir_names_exclude_current_dir: true
#       dir_names_max_depth: 1

jobs:
  get-changed-files:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      # https://github.com/marketplace/actions/changed-files
      - name: get all changed files
        id: changed-files
        uses: tj-actions/changed-files@7dee1b0c1557f278e5c7dc244927139d78c0e22a # v47.0.4
        with:
          files: |
            **/*
            !.github/**
            !.taskfiles/**
          matrix: true
          dir_names: true
          dir_names_exclude_current_dir: true
          dir_names_max_depth: 1

      - name: list all changed files
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          for file in "${{ steps.changed-files.outputs.all_changed_files }}"; do
            echo "changed file: $file"
          done
