---
name: megalinter

on:
  workflow_call:
    inputs:
      runner:
        description: runner name
        type: string
        default: ubuntu-latest
        required: false
      log-level:
        description: log-level
        type: string
        default: info
        required: false
  workflow_dispatch:
    inputs:
      log-level:
        description: megalinter log level
        type: choice
        options:
          - debug
          - info
          - warning
          - error
        default: debug
        required: false

jobs:
  megalinter:
    runs-on: ${{ inputs.runner || 'ubuntu-latest' }}
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      # https://github.com/marketplace/actions/harden-runner
      - name: harden runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      # https://github.com/marketplace/actions/create-github-app-token
      - name: generate token
        id: generate-token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        with:
          app-id: ${{ secrets.JAZZLYN_BOT_GITHUB_APP_ID }}
          private-key: ${{ secrets.JAZZLYN_BOT_GITHUB_PEM }}

      # https://github.com/marketplace/actions/checkout
      - name: checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          token: ${{ steps.generate-token.outputs.token }}

      # https://github.com/marketplace/actions/megalinter
      - name: megalinter
        uses: oxsecurity/megalinter@62c799d895af9bcbca5eacfebca29d527f125a57 # v9.1.0
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
          LOG_LEVEL: ${{ inputs.log-level || 'info' }}
