---
name: megalinter

on:
  workflow_call:
    inputs:
      runner:
        description: runner name
        type: string
        default: ubuntu-latest
        required: false
      log-level:
        description: log-level
        type: string
        default: info
        required: false
  workflow_dispatch:
    inputs:
      log-level:
        description: megalinter log level
        type: choice
        options:
          - debug
          - info
          - warning
          - error
        default: debug
        required: false

jobs:
  megalinter:
    runs-on: ${{ inputs.runner || 'ubuntu-latest' }}
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      # https://github.com/marketplace/actions/harden-runner
      - name: harden runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      # https://github.com/marketplace/actions/create-github-app-token
      - name: generate token
        id: generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.JAZZLYN_BOT_GITHUB_APP_ID }}
          private-key: ${{ secrets.JAZZLYN_BOT_GITHUB_PEM }}

      # https://github.com/marketplace/actions/checkout
      - name: checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ steps.generate-token.outputs.token }}

      # https://github.com/marketplace/actions/megalinter
      - name: megalinter
        uses: oxsecurity/megalinter@42bb470545e359597e7f12156947c436e4e3fb9a # v9.3.0
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
          LOG_LEVEL: ${{ inputs.log-level || 'info' }}
