---
name: npm version bump

on:
  workflow_call:
    inputs:
      runner:
        description: '["some-runners"]'
        required: true
        type: string
      version:
        description: "semantic version bump type (major minor patch)"
        required: true
        type: string
      release-branch:
        description: "release branch where the commit will be done"
        required: false
        type: string
        default: main
      branch-creation-condition:
        description: "define on which condition branch will be created"
        required: false
        type: string

    secrets:
      github-app-id:
        description: "github app id"
        required: false
      github-app-key:
        description: "github app private key"
        required: false

env:
  RELEASE_BRANCH: ${{ inputs.release-branch }}

jobs:
  npm-version-bump:
    runs-on: ${{fromJSON(inputs.runner)}}
    steps:
      # https://github.com/marketplace/actions/checkout
      - name: checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      # https://github.com/marketplace/actions/setup-node-js-environment
      - name: setup node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: npm version bump
        run: |
          npm version ${{ inputs.version }} --git-tag-version false

      # https://github.com/marketplace/actions/setup-yq
      - name: get package-version
        id: package-version
        uses: mikefarah/yq@7ccaf8e700ce99eb3f0f6cef7f5930a0b3c827cd # v4.49.2
        with:
          cmd: |
            echo "version=$(cat package.json | yq '.version' | tr -d '"')" >> ${GITHUB_OUTPUT}

      - name: set branch
        id: set-branch
        if: ${{ inputs.branch-creation-condition }}
        run: |
          echo "RELEASE_BRANCH=release/${{ steps.package-version.outputs.version }}" >> ${GITHUB_ENV}

      # https://github.com/marketplace/actions/create-github-app-token
      - name: generate token
        id: generate-token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        with:
          app-id: ${{ secrets.github-app-id }}
          private-key: ${{ secrets.github-app-key }}

      - name: ensure branch does not exist
        if: steps.set-branch.outcome == 'success'
        run: |
          curl -I \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ steps.generate-token.outputs.token }}"\
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/${{ github.repository }}/branches/${{ env.RELEASE_BRANCH}} | grep "HTTP/2 404"

      # https://github.com/marketplace/actions/create-branch
      - name: create branch
        if: steps.set-branch.outcome == 'success'
        id: create-branch
        uses: peterjgrainger/action-create-branch@10c7d268152480ae859347db45dc69086cef1d9c # v3.0.0
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
        with:
          branch: refs/heads/${{ env.RELEASE_BRANCH}}
          sha: ${{ github.sha }}

      # https://github.com/marketplace/actions/multi-file-commit
      - name: multi-file-commit
        id: multi-file-commit
        uses: tyriis/multi-file-commit@923a5965f42ba24546ff393c12aa3203b8b3855b # v0.3.14
        with:
          token: ${{ steps.generate-token.outputs.token }}
          ref: ${{ env.RELEASE_BRANCH }}
          message: "release: ${{ steps.package-version.outputs.version }}"
