---
name: pre-commit

on:
  pull_request:
    types:
      - opened
      - synchronize
    paths:
      - .pre-commit-config.yaml

jobs:
  pre-commit:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      # https://github.com/marketplace/actions/checkout
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # https://github.com/marketplace/actions/setup-python
      - name: install python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0

      # https://github.com/marketplace/actions/pre-commit
      - name: run pre-commit
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
