---
name: satis-build

on:
  workflow_call:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # https://github.com/marketplace/actions/checkout
      - name: checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      # https://github.com/marketplace/actions/create-github-app-token
      - name: generate token
        id: generate-token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ secrets.JAZZLYN_BOT_GITHUB_APP_ID }}
          private-key: ${{ secrets.JAZZLYN_BOT_GITHUB_PEM }}
          owner: ${{ github.repository_owner }}

      # https://github.com/marketplace/actions/satis-build-composer-repository
      - name: satis build
        uses: tyriis/satis-build@c73209ab6b0b46440a31f6b5776e122fa650a463 # v1.6
        with:
          token: ${{ steps.generate-token.outputs.token }}

      # https://github.com/marketplace/actions/multi-file-commit
      - name: multi-file-commit
        uses: tyriis/multi-file-commit@923a5965f42ba24546ff393c12aa3203b8b3855b # v0.3.14
        env:
          NODE_LOG_LEVEL: debug
        with:
          token: ${{ steps.generate-token.outputs.token }}
          ref: main
          message: "test: satis build"
