---
name: test-php

on:
  workflow_dispatch:

jobs:
  test-php:
    name: test
    uses: "strg-at/github-workflows/.github/workflows/test-php.yaml@a926e99cdc1ed63c432b0c5230ad6c6f1189127a" # v2.1.3
    with:
      runner: '["ubuntu-latest"]'
      php-lint: true
      php-cs-fixer: true
      php-stan: true
      php-stan-cmd: analyse test-php/
