---
name: test-php

on:
  workflow_dispatch:

jobs:
  test-php:
    name: test
    uses: "strg-at/github-workflows/.github/workflows/test-php.yaml@e3c78564d7b9baf2231e87d8b0085998ec127252" # v2.1.1
    with:
      runner: '["ubuntu-latest"]'
      php-lint: true
      php-cs-fixer: true
      php-stan: true
      php-stan-cmd: analyse test-php/
