---
name: test-arc

on:
  workflow_dispatch:

jobs:
  dump_contexts_to_log:
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        id: github_context_step
        run: echo '${{ toJSON(github) }}'
  test-arc:
    runs-on:
      - jazzlyn-gh-actions-demo-runner
    permissions:
      contents: read
    steps:
      # https://github.com/marketplace/actions/checkout
      - name: checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: testing
        run: |
          echo "hello world"

      - name: docker test
        run: |
          docker pull node:20
          docker info | grep Username
