---
name: upload to storage

on:
  workflow_dispatch:
  # push:
  #   tags:
  #     - "v*.*.*"

jobs:
  build-assets:
    name: build-assets
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    env:
      subpath: test
      container-path: /app
      image-path: ghcr.io/${{ github.repository }}/test

    steps:
      # https://github.com/marketplace/actions/checkout
      - name: checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      # https://github.com/marketplace/actions/docker-login
      - name: log into registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: extract build assets
        run: |
          docker pull ${{ env.image-path }}:${{ github.ref_name }}
          CONTAINER_ID=$(docker create ${{ env.image-path }}:${{ github.ref_name }})
          docker cp ${CONTAINER_ID}:${{ env.container-path }} ${{ env.container-path }}
          tar -czvf ${{ env.subpath }}-${{ github.ref_name }}.tar.gz ${{ env.container-path }}

      # https://github.com/marketplace/actions/upload-a-build-artifact
      - name: upload artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: ${{ env.subpath }}-${{ github.ref_name }}.tar.gz
          path: ${{ env.container-path }}/${{ env.subpath }}-${{ github.ref_name }}.tar.gz
