---
name: upload to storage

on:
  workflow_dispatch:
  # push:
  #   tags:
  #     - "v*.*.*"

jobs:
  build-assets:
    name: build-assets
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    env:
      subpath: test
      container-path: /app
      image-path: ghcr.io/${{ github.repository }}/test

    steps:
      # https://github.com/marketplace/actions/checkout
      - name: checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      # https://github.com/marketplace/actions/docker-login
      - name: log into registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: extract build assets
        run: |
          docker pull ${{ env.image-path }}:${{ github.ref_name }}
          CONTAINER_ID=$(docker create ${{ env.image-path }}:${{ github.ref_name }})
          docker cp "${CONTAINER_ID}":${{ env.container-path }} ${{ env.container-path }}
          tar -czvf ${{ env.subpath }}-${{ github.ref_name }}.tar.gz ${{ env.container-path }}

      # https://github.com/marketplace/actions/upload-a-build-artifact
      - name: upload artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ env.subpath }}-${{ github.ref_name }}.tar.gz
          path: ${{ env.container-path }}/${{ env.subpath }}-${{ github.ref_name }}.tar.gz
